body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px;
}

fieldset {
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
